{{>_header}}
{{>_msg}}



<div class="container text-center mt-4">
  <div id="carouselSlide2" class="carousel slide" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <p>Welcome to Vicky Interior Designs website</p>
      </div>
         <div class="carousel-item ">
        <p>We are always open for business, hire us now</p>
      </div>
         <div class="carousel-item ">
        <p>We are reliable, ever ready and trusted by thousands of clients</p>
      </div>
    </div>
  </div>
</div>

  
<div class="container-fluid">
<div class="row">
  <div class="col-xl-6">
<div class="container-fluid">
<h5 class="text-center my-4" id="work">Some of Our Works </h5>
 <div id="carouselSlide" class="carousel side" data-ride="carousel">
   <ol class="carousel-indicators ">
       <li data-target="#carouselSlide" data-slide-to="0" class="active "></li>
       <li data-target="#carouselSlide" data-slide-to="1"></li>
     <li data-target="#carouselSlide" data-slide-to="2"></li>

   </ol>
     <div class="carousel-inner ">
         <div class="carousel-item active">
             <img src="/images/office.jpg" class="d-block img-fluid mx-auto" alt="No image">
         <div class="carousel-caption">
             <h5 class="caption">Our completed projects </h5>
           </div>
         </div>
           <div class="carousel-item ">
             <img src="/images/employee6.jpg" class="d-block img-fluid mx-auto" alt="No image">
         <div class="carousel-caption">
             <h5 class="caption">Our staffs having a geat workshop </h5>
           </div>
         </div>
           <div class="carousel-item ">
             <img src="/images/employee8.jpg" class="d-block img-fluid mx-auto" alt="No image">
           <div class="carousel-caption">
             <h5 class="caption">Vicky designs seminal holding in london </h5>
           </div>
         </div>
     </div>
     <a class="carousel-control-prev" href="#carouselSlide" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon"></span>
     </a>
       <a class="carousel-control-next" href="#carouselSlide" role="button" data-slide="next">
       <span class="carousel-control-next-icon "></span>
     </a>
 </div>
</div>
  </div>
  <div class="col-xl-6">
<h5 class="text-center my-4" id="work">Recent Video </h5>
    <div class="container d-none d-md-block">
<iframe class="d-block mx-auto " width="560" height="315" src="https://www.youtube.com/embed/Tq8RBFS8OqI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
</div>
  <div class="container d-md-none d-sm-block">
<iframe class="d-block mx-auto " width="350" height="300" src="https://www.youtube.com/embed/Tq8RBFS8OqI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
</div>
</div>
</div>
<div class="container">
    <h5 class="text-center my-4 " id="about">About Us</h5>
    <div class="jumbotron text-center" id="about1">
        <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem debitis, error quaerat corrupti rem eos fugiat accusamus explicabo recusandae ducimus non 
        est corporis eum totam beatae facere tempore quasi porro.</p>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum fuga, veniam ex ad nobis sapiente dolorum labore facere, sequi adipisci doloremque, harum quod accusantium 
         corporis cum soluta reiciendis consectetur dignissimos?</p>
    </div>
</div>

<div class="container">
    <h5 class="text-center my-4" id="staff">Testiomonies</h5>
    <div class="row">
    <div class="col-lg-4" id="test">
        <div class="media">
            <img class="mr-3" src="/images/staff5.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Elizabeth James</span>
             <p class="text-center"> <i class="fa fa-quote-left"></i>  Vicky Interior designs is the best when it comes to interior decorations <i class="fa fa-quote-right"></i></p>

            </div>
        </div>
    </div>
     <div class="col-lg-4 " id="test">
         <div class="media">
            <img class="mr-3" src="/images/staff2.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Rowland Mathew </span>
              <p class="text-center">   <i class="fa fa-quote-left"></i> The best company in the world.    <i class="fa fa-quote-right"></i> </p>
            </div>
        </div>
    </div>
     <div class="col-lg-4" id="test">
         <div class="media">
            <img class="mr-3" src="/images/staff6.jpg" width="200px" height="200px" id="mediaImage">
            <div class="media-body">
              <span class="badge badge-danger p-2 my-2" id="name">Cynthia Johnson</span>
              <p class="text-center"> <i class="fa fa-quote-left"></i> My favourite interior decoration company <i class="fa fa-quote-right"></i></p>
            </div>
        </div>
    </div>
    
    </div>
</div>

<div class="container-fluid" id="services">
  <h5 class=" text-center my-4">Services</h5>
    <div class="row">
        <div class="col-sm-4">
            <p class="text-center serve">What we do</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id modi fugiat deserunt dicta error inventore omnis tenetur! Voluptate doloremque quasi perferendis quidem nostrum necessitatibus
               placeat esse ipsam? Accusantium, veniam numquam?</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nihil ea mollitia. Alias assumenda molestias ad fugit eos sit neque et repellat quibusdam sunt.
             Perspiciatis earum tenetur harum neque voluptatem.</p>
        </div>
          <div class="col-sm-8">
            <p class="text-center serve ">Capacity building seminal</p>
             <img src="/images/employee8.jpg" class="d-block img-fluid mx-auto" alt="No image">

        </div>
        
    </div>
</div>

    
   <div class="container">
     {{#if posts}}
       <h5 class="text-center my-4" id="card">Blog Posts</h5>
        {{/if}}
     <div class="card-group">
       
        {{#each posts}}
       <div class="card mx-1">
         <img class="card-img-top" src="{{image.[0]}}" height="300px">
       
         <div class="card-body">
          <a href="/post/{{slug}}"><h5 class="card-title">{{title}}</h5></a>
           <p class="card-text">{{{truncate details 60}}}</p>
             <a href="/post/{{slug}}"><span class="badge badge-danger p-2">readmore</span></a>
          

         </div>
         
       </div>
       {{/each}}
       {{#each posts1}}
        <div class="card mx-1">
         <img class="card-img-top" src="{{image.[0]}}" height="300px">
         <div class="card-body">
          <a href="/post/{{slug}}"><h5 class="card-title">{{title}}</h5></a>
           <p class="card-text">{{{truncate details 60}}}</p>
             <a href="/post/{{slug}}"><span class="badge badge-danger p-2">readmore</span></a>
           
         </div>
         
       </div>
       {{/each}}
       {{#each posts2}}
        <div class="card mx-1">
         <img class="card-img-top" src="{{image.[0]}}" height="300px">
         <div class="card-body">
          <a href="/post/{{slug}}"><h5 class="card-title">{{title}}</h5></a>
           <p class="card-text">{{{truncate details 60}}}</p>
             <a href="/post/{{slug}}"><span class="badge badge-danger p-2">readmore</span></a>

         </div>
         
       </div>
    {{/each}}
     </div>
   </div>

<div class="container-fluid my-4" id="contents">
      <h5 class="text-center my-4" id="card">The Owner</h5>
      <div class="row">
        <div class="col-md-2">
<img class="d-block mx-auto" id="owner" src="/images/staff3.jpg" width="200px" height="200px" alt="Owner image">
       <span class="badge badge-danger p-2 my-2 text-center ml-5 " id="me">Desto James</span>

        </div>
         <div class="col-md-10">
         <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste odio corrupti nam minus enim ratione quisquam, assumenda neque eius illum magna
            odit incidunt provident ipsa non dolorum, culpa, rem aut.</p> 
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est cumque quas voluptatum quidem quos numquam praesentium vitae aut dolorum iure, reprehenderit doloribus
             cupiditate quae. Ullam autem in architecto ea beatae.</p>
       <span> <p class="mt-5">Follow me on </p>
      <a href="https://www.facebook.com"> <i class="fa fa-facebook"></i></a> <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
      <a href="https://www.instagram.com"> <i class="fa fa-instagram"></i></a> <a href="https://www.pinterest.com"> <i class="fa fa-pinterest"></i></a></span>
        </div>
      </div>
</div>


{{>_footer}}