{{>_header}}

<div class="container-fluid my-4">
   <div class="row">
    <div class="col-md-8">
   
         <a href=""><h5 class="text-center" id="showTitle">{{post.title}}</h5></a>
   <p class="text-center">Posted on <i class="fa fa-clock-o"> {{formatDate post.date "MMM MM, YYYY  h:mm a" }}</i> by <i class="fa fa-user"> admin</i></p>
    <p class="text-center my-3">{{{post.details}}}</p>
    {{#if post.image.[0]}}
      <img class="d-block mx-auto mb-2" src="{{post.image.[0]}}" width="350px" height="300px">
    {{/if}}
     {{#if post.image.[1]}}
     <img class="d-block mx-auto mb-2" src="{{post.image.[1]}}" width="350px" height="300px">
   {{/if}}
    {{#if post.image.[2]}}
    <img class="d-block mx-auto mb-3" src="{{post.image.[2]}}" width="350px" height="300px">
  {{/if}}

         <div class="container my-2 d-none d-md-flex justify-content-center">
<!-- AddToAny BEGIN -->
<p class="text-danger mr-2 ">Share this post on </p>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
   
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_whatsapp" ></a>

<a class="a2a_button_email"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_pinterest"></a>
</div>

</div>
        <!-- AddToAny BEGIN -->
<div class="container my-2 d-md-none d-sm-block d-flex justify-content-center">
<p class="mr-2 text-danger">Share</p>
<div class="a2a_kit a2a_kit_size_32 a2a_default_style" >
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter" ></a>
<a class="a2a_button_whatsapp" ></a>
<a class="a2a_button_telegram" ></a>
<a class="a2a_button_pinterest" ></a>
<a class="a2a_button_linkedin" ></a>
</div>
</div>

   
<div class="container my-5">
  <h5 class="text-center mb-4">Add Comment</h5>
  <form action="/comment/post/{{post.slug}}" method='POST'>
  <div class="form-group">
    <textarea name="commentBody" rows="5" class="form-control" placeholder="Comment..."></textarea>
  </div>
  <div class="form-group">
    <button class="bt btn-danger text-white d-block mx-auto" type="submit" >Post Comment</button>
  </div>
  </form>
</div>
<!--end of commentbox-->

<div class="container my-5">
  {{#if post.comments}}
  <h5 class="text-center my-4">All Comments</h5>
  {{#each post.comments}}
  <div class="card mb-2">
    <div class="card-header">
      <p class="text-center"> Posted at {{formatDate commentDate '  h:mm a, Do MMM, YYYY '}} </p>
    </div>
    <div class="card-body">
      <p class="card-text text-center">{{commentBody}}</p>
    </div>
  </div>
  {{/each}}
{{/if}}
</div>

    </div>
    
    <div class="col-md-4" >
           
         {{#if popular}}
        <h5 class="text-center my-4">Popular Posts</h5>
         
         {{#each popular}}
     <div class="card my-2">
         <div class="card-header">
             <p class="text-center">{{views}} views</p>
         </div>
         <img class="card-img-top" src="{{image.[0]}}" height="300px">
        <div class="card-body">
          <a href="/post/{{slug}}" ><h5 class="card-title">{{title}}</h5> </a>
        </div> 
     </div>
    {{/each}}
    {{/if}}
      {{#if recent}}
      <h5 class="text-center my-4">Recent Posts</h5>
       
         {{#each recent}}
     <div class="card my-2">
         <img class="card-img-top" src="{{image.[0]}}" height="300px" >
        <div class="card-body">
          <a href="/post/{{post.slug}}" ><h5 class="card-title">{{title}}</h5> </a>
        </div> 
     </div>
      {{/each}}
    {{/if}}
      
        {{#if similar}}
       <h5 class="text-center my-4">Similar Posts</h5>
            
            {{#each similar}}
     <div class="card my-2">
           <img class="card-img-top" src="{{image.[0]}}" height="300px">
        <div class="card-body">
          <a href="/post/{{slug}}" ><h5 class="card-title">{{title}}</h5> </a>
        </div> 
     </div>
      {{/each}}
    {{/if}}
      
    </div>
   </div>

</div>

{{>_footer}}